*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cambria;
}
@media (min-width:551px)
{
	
	.contact-small
	{
		display: none;
	}
	
}
@media (max-width:550px)
{
	
	.contact-big
	{
		display: none;
		
	}
	.t-l 
{
	width: 5%;
	height: 100%;
	
	float: left;
}
.t-m
{
	width: 45%;
	height: 100%;
	
	float: left;
	
}
.t-r 
{
	width: 45%;
	height: 100%;
	
	float: left;
	
}
}
@media (min-width:550px)
{
	#location
	{
		margin-left: 40%;
	}
	.members
	{
		width: 50%;
		height: 250px;
		float: left;
		text-align: center;
		border: 6px solid whitesmoke;
	}
	.t-l 
{
	width: 40%;
	height: 100%;
	
	float: left;
}
.t-m
{
	width: 30%;
	height: 100%;
	
	float: left;
	
}
.t-r 
{
	width: 30%;
	height: 100%;
	
	float: left;
	
}

	
}
@media (max-width:750px)
{
	.polo-big
	{
		display: none;
	}
#link-gallery-b
{
	display: none;
}
#link-gallery-s
{
	width: 100%;
	height: 200px;
	background-image: url('assets/a4.jpg');
	text-align: center;
	

}
.text-small
{
	width: 100%;
	color: black;
	height: 100%;
	background-color: white;
	opacity: 0.9;
	display: flex;
	justify-content: center;
	align-items: center;
}
	#game-font
	{
		font-size: 20px;
	}
.home-image
{
	width: 90%;
	margin-left: 5%;
	height: 300px;	
	margin-top: 50px;
	background-image: url('assets/d1.jpg');
	background-position: center;
	background-size: cover;
	background-color: black;
}
.text-wrapper
{
	width: 100%;
	margin-top: 25px;
}
.text
{
	width: 80%;
	text-align: center;
	margin: auto;
	font-size: 22px;
	font-style: italic;
	font-weight: bolder;
	color: maroon;
}
#galeria
	{
		height: 300px;
		width: 100%;
		border: 6px solid white;
	}
	.team-overview
{
	width: 80%;
	margin-left: 10%;
	margin-top: -50px;
	border: 2px solid maroon;
	position: relative;
	padding: 3px;
	z-index: 3;
	background-color: white;
	color: maroon;
}
}

@media (min-width:751px)
{
	.members
	{
		width: 33.33%;
		height: 250px;
		float: left;
		text-align: center;
		border: 6px solid whitesmoke;
	}
#link-gallery-s
{
	display: none;
}
#link-gallery-b
{
	width: 100%;
	height: 300px;
	background-image: url('assets/c3.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
	

}
.text-big
{
	width: 100%;
	color: black;
	height: 100%;
	background-color: white;
	opacity: 0.9;
	display: flex;
	justify-content: center;
	align-items: center;
}
	.polo-small
	{
		display: none;
	}
	#game-font
	{
		font-size: 30px;
	}
	.home-image
{
	width: 90%;
	margin-left: 5%;
	height: 400px;
	
	margin-top: 50px;
	background-image: url('assets/b5.jpg');
	background-position: center;
	background-size: cover;
	background-color: black;
}
.text-wrapper
{
	width: 100%;
	margin-top: 25px;
}
.text
{
	width: 80%;
	text-align: center;
	margin: auto;
	font-size: 30px;
	font-style: italic;
	font-weight: bolder;
	color: maroon;
}
#galeria
	{
		height: 300px;
		width: 50%;
		float: left;
		border: 6px solid white;
	}
	.team-overview
{
	width: 70%;
	margin-left: 15%;
	margin-top: -50px;
	position: relative;
	border: 2px solid maroon;
	padding: 3px;
	z-index: 3;
	background-color: white;
	color: maroon;
}
}
@media (min-width:1000px)
{
	.members
	{
		width: 25%;
		height: 250px;
		float: left;
		text-align: center;
		border: 6px solid whitesmoke;
	}
}

@media (min-width:1500px)
{
	.members
	{
		width: 20%;
		height: 250px;
		float: left;
		text-align: center;
		border: 6px solid whitesmoke;
	}
}
.top1
{
	width: 100%;
	height: 55px;
	color: maroon;
	overflow: auto;
}
.top2
{
	width: 100%;
	height: 50px;
	background-color: maroon;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.top1-left
{
	float: left;
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;

}
.top1-right
{
	float: left;
	width: 30%;
	height: 100%;	
	overflow: auto;
}
.location
{
	width: 100%;
	text-align: center;
	height: 40px;
	color: maroon;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: whitesmoke;
}
#logo
{
	margin-left: 10px;
}

#top-links
{
	padding: 10px;
	font-weight: bolder;
	text-decoration: none;
	color: white;
}
#top-links:hover
{
	background-color: black;
}

.polo-big
{
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
	overflow: auto;
	background-color: whitesmoke;
	
}
.membership
{
	width: 80%;
	margin-left: 10%;
	overflow: auto;
	text-align: center;
}
.founder-left
{
	width: 50%;
	height: 300px;
	display: flex;
	float: left;
	justify-content: center;
	align-items: center;
	
}
.polo-small
{
	
	margin-top: 10px;
	width: 100%;
	text-align: center;
	background-color: whitesmoke;
}
.founder-right
{
	width: 50%;
	height: 300px;
	display: flex;
	float: left;
	justify-content: center;
	align-items: center;
	
}
#small-founder
{
	border-radius: 50px;
	width: 70%;
	margin-top: 10px;
	border: 2px solid white;

}
#next-game
{
	width: 80%;
	margin-left: 10%;
	text-align: center;
	margin-top: 10px;
	border: 2px solid maroon;
    border-radius: 100px / 100px;
    background-color: white;
}
#next-game2
{
	width: 80%;
	text-align: center;
	margin-top: 10px;
	border: 2px solid maroon;
    border-radius: 100px / 100px;
    background-color: white;
}
.gallery
{
	width: 85%;
	margin-left: 7.5%;
	overflow: auto;
}
.polo-team
{
	width: 100%;
	height: 200px;
	position: relative;
	z-index: 1;
	background-image: url('assets/c1.jpg');
	background-position: center;
	background-size: cover;
}
.event-image
{
	width: 100%;
	height: 300px;
	margin-top: 10px;
	background-image: url('assets/b3.jpg');
	background-position: center;
	background-size: cover;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.achievements
{
	color: maroon;
}
#achieved
{
	padding: 4px;
	margin-left: 10%;
}
.more-games
{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 80%;
	margin-left: 10%;
	border: 4px solid maroon;
	border-radius: 20px;
	text-align: center;
}
.game
{
	background-color: whitesmoke;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 90%;
	margin-left: 5%;
}
.slider-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
    
}

.description {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    font-size: 16px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.c-left
{
	float: left;
	width: 50%;
	display: flex;
	color: maroon;
	justify-content: center;
	align-items: center;
	height: 230px;
}
.contact-big
{
	overflow: auto;
}
#eighty
{
	width: 100%;
	text-align: center;
	border: 2px solid maroon;
	border-radius: 10px;
	padding: 5px;
	margin-top: 2px;
	font-weight: bolder;


}
#eighty-eighty
{
	width: 100%;
	height: 80px;
	border: 2px solid maroon;
	text-align: center;
	border-radius: 10px;
}
#sixty
{
	width: 60%;
	text-align: center;
	background-color: maroon;
	color: white;
	border: 2px solid; maroon;
	border-radius: 10px;
	padding: 5px;
}
.footer
{
	color: maroon;
	text-align: center;
	border-top: 4px solid maroon;
	margin-top: 25px;
}
